
<a href="#/.." class="btn btn-primary btn-sm">Zurück</a>

<div ng-repeat="button in vm.buttons">
    <a class="{{button.class}}" ng-href={{button.href}} >{{button.value}}</a>
</div>

<!--
<div><ct-image></ct-image></div>
<div><ct-text></ct-text></div>
<div><ct-MultipleChoice></ct-MultipleChoice></div>
<div><ct-Dialog></ct-Dialog></div>
<div><ct-FrageFreitext></ct-FrageFreitext></div>
<div><ct-FrageFreitext></ct-FrageFreitext></div>
-->

<div><displayroute></displayroute></div> 



